@charset "utf-8";

@mixin initializing(){
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
}

@mixin iBlock_display(){
    display: inline-block;
}

@mixin remove_icon(){
    list-style: none;
}

@mixin remove_tDeco(){
    text-decoration: none;
}

@mixin remove_deco(){
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
    background: transparent;
    @include remove_tDeco()
}

@mixin input_setting(){
    box-sizing: content-box;
    appearance: none;
    border:1px solid gray;
    color: #E65d5d;
    border-radius: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, 
dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video{
    @include initializing();
    @include iBlock_display();
}


h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    @include iBlock_display()
}

ul, li{
    @include remove_icon()
}

a{
    @include remove_deco()
}

input{
    @include input_setting()
}

abbr{
    @include remove_tDeco()
}