@charset "utf-8";

@mixin width-height($width, $height){
    width: $width;
    height: $height;
}

@mixin flex-display($aligning){
    display: flex;
    flex-flow: row wrap;
    justify-content: $aligning;
    align-content: $aligning;
}

body{
    @include width-height(100%, 57rem);
}

#wrap {
    @include width-height(100%, 100%);
    @include flex-display(center);

    div:not(#input_information){
        display: none;
    }

    #input_information {// == #input_information
        @include width-height(100%, 60%);
        @include flex-display(space-evenly);

        div{ // == #player_status
            @include width-height(100%, 60%);
            @include flex-display(space-evenly);

            h2{
                @include width-height(100%, 20%);
                text-align: center;
                font-size: 2rem;
                line-height: 3rem;
            }

            p{
                margin: 0 0.5%;
                @include width-height(calc(15%), 15%);

                input{
                    @include width-height(100%, 40%)
                }
            }

            button{
                margin: 0 30%;
                @include width-height(18%, 10%);
            }

            div{
                @include width-height(100%, 15%);
                @include flex-display(space-evenly);

                li{
                    @include width-height(20%, 80%);
                    line-height: 2rem;
                    text-align: center;
                }
            }
        }

        div:not(:first-child){
            display: none;
        }
    }

    #simulator{
        @include width-height(100%, 80%);
        @include flex-display(center);

        h2{
            @include width-height(100%, 7%);
            text-align: center;
            font-size: 1.5rem;
            line-height: 3rem;
        }

        #relic_display{
            @include width-height(100%, 10%);
            border-radius: 1rem;
            border: 1px solid gray;
        }

        #inventory{
            @include width-height(9%, 42%);
            border-radius: 1rem;
            border: 1px solid gray;
            background: #8B4513;
        }

        #battlefield{
            @include width-height(90%, 42%);
            @include flex-display(space-evenly);
        }

        #skills{
            @include width-height(100%, 40%);
            @include flex-display(space-evenly);
            border: 1px solid gray;
        }
    }

}