@charset "utf-8";

@mixin width-height($width, $height){
    width: $width;
    height: $height;
}

@mixin flex-display($aligning){
    display: flex;
    flex-flow: row wrap;
    justify-content: $aligning;
    align-content: $aligning;
}

body{
    @include width-height(100%, 57rem);
}

#wrap {
    @include width-height(100%, 100%);
    @include flex-display(center);

    div:not(:first-child){
        display: none;
    }

    div {// == #input_information
        @include width-height(100%, 60%);
        @include flex-display(space-evenly);

        div{ // == #player_status

            h2{
                @include width-height(100%, 20%);
                text-align: center;
                font-size: 2rem;
                line-height: 3rem;
            }

            p{
                margin: 0 0.5%;
                @include width-height(calc(15%), 15%);

                input{
                    @include width-height(100%, 40%)
                }
            }

            button{
                margin: 0 30%;
                @include width-height(18%, 10%);
            }

            div{
                @include width-height(100%, 15%);
                @include flex-display(space-evenly);

                li{
                    @include width-height(20%, 80%);
                    line-height: 2rem;
                    text-align: center;
                }
            }
        }
    }

}